@model ShopModel;
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Shop</h1>
    <div class="row">
        @foreach (var product in Model.Products)
            {
                						<!-- Single Product -->
					  <div class="card mx-auto my-auto" style="width: 18rem;">
                      <img src="@product.ImgUrl" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title">@product.Description</h6>
                        <p class="card-text">$@product.Price</p>
                                <form method="post"  asp-controller="Shop" asp-action="AddProductToCart"> 
                                    <input type="text" name="brand" value="@product.Brand" hidden>
                                    <input type="text" name="description" value="@product.Description" hidden>
                                    <input type="text" name="price" value="@product.Price" hidden>
                                    <input type="text" name="imgurl" value="@product.ImgUrl" hidden>
                                    <button class="btn btn-danger" type ="submit">Add To Cart</button>
                                </form>
                      </div>
                    </div>
            }


    </div>
    

</div>
