@model ShopModel;
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Shop</h1>
    <div class="row">
        <form method="post" asp-controller="Shop" asp-action="Search">
        <input type="text" value="@Model.SearchInput" name="searchInput">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <form method="post" asp-controller="Shop" asp-action="Filter"> 
        @foreach(var brand in Model.Brands)
        {

          @Html.CheckBox("",Model.Checked.Contains(brand.Key), new {@value=brand.Key , @name="brands", @id="flexCheckDefault"})
          <label class="" for="flexCheckDefault">
            @brand.Key (@brand.Value)
          </label>

        }
         <input type="text" name="searchInput" value="@Model.SearchInput" hidden>
        <button class="btn btn-info" type="submit">Filter</button>

        </form>

    </div>
    <div class="row">
             @foreach (var product in Model.Products)
            {
                						<!-- Single Product -->
					  <div class="card mx-auto my-auto" style="width: 18rem;">
                      <img src="@product.ImgUrl" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title">@product.Description</h6>
                        <p class="card-text">@product.Price Ron</p>
                                <form method="post"  asp-controller="Shop" asp-action="ShowDetails"> 
                                    <input type="text" name="guid" value="@product.Guid" hidden>
                                    <button class="btn btn-danger" type ="submit">Details</button>
                                </form>
                      </div>
                    </div>
            }
    </div>
    

</div>
